<!-- Main Page-->

<%- include partials/header.ejs %>

<%- include partials/mainnav.ejs %>  

<%- include partials/maincontent.ejs %>

<main class="container">

    <div class="row">
        <div class="col-md-offset-6 col-md-12">
            
            <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/survey/create" class="btn btn-primary" role = "button" style="background-color:#50ACB0; border: solid 3px;border-color:#368289; color:#051B1D">
            <i class="fas-fa-plus-circle"></i><b>Create Your Survey</b></a><br>
            <% } else { %>
                <h4>Log In To Create Your Own Survey</h4>
            <% } %>            

    <br>
    <p class="lead" ><h5 style="text-align:center">Current Surveys</h5></p>
    
    <table class="surveyTable">
      <thead> 
        <tr class="thead-dark">
          <th scope="col">#</th>
          <th scope="col">Surveys</th>
          <th scope="col">Created by</th>
          
        </tr>
      </thead>
    <tbody>

      <% for(let count = 0; count < SurveyList.length; count++) { %>
        <tr id="tableRows">
          <td scope="row"><%= count+1 %></td>  
          <td class="titleCol"><a href="/survey/asurvey/<%= SurveyList[count]._id %>" class="title"><%= SurveyList[count].surveyTitle %></a></td>
          <td><%= SurveyList[count].createdBy %></td>
     
        </tr>
      <% } %>
    </table>
    </div>
  </div>

    </main>

<%- include partials/bottomnav.ejs %>

<%- include partials/footer.ejs %>
