<%- include ../partials/header.ejs %>

<%- include ../partials/mainnav.ejs %>

<main class="container">

    <div class="row">
        <div class="col-md-offset-1 col-md-10"><br><br>
            <form class="card">

                <div class="form-group">
                    <label for="surveyTitleTextField"><b><%= survey.surveyTitle %></b></label>
                </div>
                <div class="form-group">
                    <label for="surveyTitleTextField">Created By : <%= survey.createdBy %></label>
                </div>
                
                 <% if(survey.question1.length != 0 ) {%>
                <div class="form-group">
                    <label for="question1TextField"><%= survey.question1 %></label>
                </div>
                <div class="form-check"> 
                <label position='left' class="form-check-label" for='exampleradios1'>
                    <input class="form-check-input" type="radio" name="q1option" value = "q1option1" id="exampleradios1">                
                    <%= survey.q1option1 %>
                    </label>
                </div>
                <div class="form-check">
                 <label name="q2option" class="form-check-label" for='exampleradios2'>
                    <input class="form-check-input" type="radio" name="q1option" id="exampleradios2" value = "q1option2" >
                    <%= survey.q1option2 %>
                    </label>
                </div>
                <div class="form-check">
                <label class="form-check-label" for='exampleradios3'>
                    <input class="form-check-input" type="radio" name="q1option" id="exampleradios3" value="q1option3">
                    <%= survey.q1option3 %>
                    </label>
                </div>
                <div class="form-check">
                <label class="form-check-label" for="exampleradios4">
                    <input class="form-check-input" type="radio" name="q1option" id="exampleradios4" value="q1option4">
                    <%= survey.q1option4 %>
                    </label>
                </div>
                <br>
                <%  } %>
                 <% if(survey.question2.length != 0 ) {%>
                <div class="form-group">
                    <label for="question1TextField"><%= survey.question2 %></label>
                </div>
                <div class="form-check">
                 <label class="form-check-label" for='exampleradios5'>
                    <input class="form-check-input" type="radio" name="q2option" id="exampleradios5" value="q2option1" check>
                   <%= survey.q2option1 %>
                    </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q2option" id="exampleradios6" value="q2option2">
                    <%= survey.q2option2 %>
                    </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q2option" id="exampleradios7" value="q2option3">
                    <%= survey.q2option3 %>
                    </label>
                </div>
                <div class="form-check">
                 <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q2option" id="exampleradios8" value="q2option2">
                   <%= survey.q2option4 %>
                    </label>
                </div>
                <%  } %>
                 <% if(survey.question3.length != 0 ) {%>
                <br>
                <div class="form-group">
                    <label for="question1TextField"><%= survey.question3 %></label>
                </div>
                <div class="form-check">
                 <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q3option" id="exampleradios9" value="q3option1">
                   <%= survey.q3option1 %>
                    </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q3option" id="exampleradios10" value="q3option2">
                    <%= survey.q3option2 %>
                    </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q3option" id="exampleradios11" value="q3option3">
                    <%= survey.q3option3 %>
                    </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q3option" id="exampleradios12" value="q3option4">
                    <%= survey.q3option4 %>
                    </label>
                </div>
                <%  } %>
                 <% if(survey.question4.length != 0 ) {%>
                <br>
                <div class="form-group">
                    <label for="question1TextField"><%= survey.question4 %></label>
                </div>
                <div class="form-check">
                 <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q4option" id="exampleradios13" value="q4option1">
                   <%= survey.q4option1 %>
                    </label>
                </div>
                <div class="form-check">
                 <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q4option" id="exampleradios14" value="q4option2">
                   <%= survey.q4option2 %>
                    </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q4option" id="exampleradios15" value="q4option3">
                    <%= survey.q4option3 %>
                    </label>
                </div>
                <div class="form-check">
                 <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q4option" id="exampleradios16" value="q4option4">
                   <%= survey.q4option4 %>
                    </label>
                </div>
                <%  } %>
                 <% if(survey.question5.length != 0 ) {%>
                <br>
                <div class="form-group">
                    <label for="question1TextField"><%= survey.question5 %></label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q5option" id="exampleradios17" value="q5option1">
                    <%= survey.q5option1 %>
                    </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q5option" id="exampleradios18" value="q5option2">
                    <%= survey.q5option2 %>
                    </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q5option" id="exampleradios19" value="q5option3">
                    <%= survey.q5option3 %>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="q5option" id="exampleradios20" value="q5option4">
                    <%= survey.q5option4 %>
                    </label>
                </div>
               <%  } %>
                 
                 
                <br> 
                 
                
                <br><section>
                <button class="btn btn-primary" type="button" onclick="displayRadioValue()">
                    <i class="fas fa-paper-plane">Submit</i>
                </button>
                
                <a href="/home" class="btn btn-primary"><i class="fas fa-undo-alt"></i> Back</a>
                
               <div id='value'></div>
 

                <% if(displayName == survey.displayName) { %>
                <br>
            <a href="/survey/edit/<%= survey._id %>" class="btn btn-primary">Edit</a>
            <a href="/survey/delete/<%= survey._id %>" class="btn btn-danger">Delete</a>
            <a href="/survey/results/<%= survey._id %>" class="btn btn-success">See Your Results</a>
            <br>
            <% } %>
            </section>
            <hr>
            </form> 
            </div>

    </div>
     
</main>


<%- include ../partials/bottomnav.ejs %>

<%- include ../partials/footer.ejs %>